<center>
	<p>this information is display on the your profile</p>
  <form method="post" action="/editprofile/<%=@addr%>">
  
  <label>name</label><br>
		<input type="hidden" name="_method" value="PATCH">
		<input type="text" name="name" placeholder="name" class="mb-3" /><br>

    <label>comment</label>
		<textarea type="text" name="comment" rows="4" class="w-100" placeholder="I'm a google insider"></textarea><br>
		<input type="submit" value="send" class="btn btn-warning">
	</form>
</center>