<ul>
    <% @sbjs.each do |sbj| %>
        <li><strong><%= sbj.content %></strong>: <span class="small"><%= sbj.created_at %></span></li>
    <% end %>
</ul>

<div class="bg-secondary p-3 rounded">
    <h3>Controller</h3>

    <label>subject id</label>
    <input type="number" placeholder="id" class="form-control" /><br>

    <label>result</label>
    <input type="number" placeholder="result" class="form-control" />

    <button class="mt-3 btn btn-primary form-control">send</button>
</div>