<center>
			<div class="ranking" id="rank">
				<table class="table text-white">
          <thead>
            <tr>
              <th class="col">rank</th>
              <th class="col">accuracy</th>
              <th class="col">address</th>
            </tr>
          </thead>

          <tbody class="rank core" v-for="card in cards">
            <tr>
              <td>{{ card.rank }}</td>
              <td>{{ card.accuracy }}%</td>
              <td>{{ card.predictor }}</td>
            </tr>
          </tbody>
        </table>
			</div>
</center>