<center>
	<p>Enter the subjects you want to predict! <br>(Only those that meet the criteria will be approved and added)</p>
  <form method="post" action="/create_subject">
		<textarea type="text" name="content" rows="4" class="w-100" placeholder="subject"></textarea><br>
		<input type="submit" value="send" class="btn btn-warning">
	</form>
</center>