<center>
	<p>Enter the subjects you want to predict! <br>(Only those that meet the criteria will be approved and added)</p>
  <textarea name="kansou" rows="5"class="w-100" placeholder="subject"></textarea>
	<button class="btn btn-warning subject make">send</button>
</center>